@font-face {
    font-family: Akrobat;
    src: url(./fonts/Akrobat/Commercial/TTF/Akrobat-ExtraBold.ttf)
}

@font-face {
    font-family: Futurist;
    src: url(./fonts/Forgotten_futurist/forgotten\ futurist\ bd.ttf)
}

* {
    margin: 0px;
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
}

.header-contact {
    width: 100%;
    height: 60px;
    opacity: 0.52;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Akrobat';
}

.header_left-contact {
    width: 200px;
    margin-left: 20%;
    text-decoration: none;
    color: black;
}

.header_left-name-contact {
    position: absolute;
    letter-spacing: 2px;
    margin-left: 5px;
    top: 27px;
}

.header_left-hidden-contact {
    left: 55px;
    top: -35px;
    width: 130px;
    height: 14px;
    position: relative;
    background-color: rgba(255, 255, 255);
}

.header_left-logoImg-contact {
    margin-top: 24px;
    /* transform: rotate(45deg); */
    /* To get it white: */
    /* filter: brightness(0) invert(1); */
}

.header_left-logoChar-contact {
    font-family: 'Akrobat';
    font-weight: 800;
    position: absolute;
    /* transform: rotate(-45deg); */
    font-size: 40px;
    margin-top: 25px;
}

.header_right {
    display: flex;
    width: 400px;
    /* border: 1px solid black; */
    margin-right: 15%;
    font-size: 20px;
}

.header_right a {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 200ms;
    justify-content: center;
}

.header_right a:hover {
    color: rgb(116, 116, 116);
    font-size: 22px;
}

.header_right-github {
    text-decoration: none;
    color: black;
}

.header_right-about {
    text-decoration: none;
    color: black;
}


/* PRESENTATION AND MAIN SLIDE: */

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

.e-mail {
    font-family: 'Akrobat';
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 33vh;
    font-family: 'Akrobat';
    position: absolute;
}

@media only screen and (max-width: 1366px) {
    .presentation-title {
        margin-top: 29.5vh;
    }
}

.number {
    text-align: center;
    position: absolute;
    width: 300px;
    height: 45px;
    font-size: 40px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 42vh;
    font-family: 'Akrobat';
}


/* 
.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: absolute;
}

.layer1 {
    background-image: url("./wave-haikei.svg");
} */

.spacer2 {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    position: fixed;
}

.layer2 {
    background-image: url("./mountain-peak-night-dusk.jpg");
    background-size: cover;
    transform: scale(1.2);
}

.black_layer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}