@font-face {
    font-family: Akrobat;
    src: url(./fonts/Akrobat/Commercial/TTF/Akrobat-ExtraBold.ttf)
}

@font-face {
    font-family: Futurist;
    src: url(./fonts/Forgotten_futurist/forgotten\ futurist\ bd.ttf)
}

* {
    margin: 0px;
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 60px;
    opacity: 0.52;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Akrobat';
}

.header_left {
    width: 200px;
    margin-left: 20%;
}

.header_left-name {
    position: absolute;
    letter-spacing: 2px;
    margin-left: 5px;
    top: 27px;
}

.header_left-hidden {
    left: 55px;
    top: -35px;
    width: 130px;
    height: 14px;
    position: relative;
    background-color: rgba(255, 255, 255);
}

.header_left-logoImg {
    margin-top: 24px;
    /* transform: rotate(45deg); */
    /* To get it white: */
    /* filter: brightness(0) invert(1); */
}

.header_left-logoChar {
    font-family: 'Akrobat';
    font-weight: 800;
    position: absolute;
    /* transform: rotate(-45deg); */
    font-size: 40px;
    margin-top: 25px;
}

.header_right {
    display: flex;
    width: 400px;
    /* border: 1px solid black; */
    margin-right: 15%;
    font-size: 20px;
}

.header_right a {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 200ms;
    justify-content: center;
}

.header_right a:hover {
    color: rgb(116, 116, 116);
    font-size: 22px;
}

.header_right-github {
    text-decoration: none;
    color: black;
}

.header_right-contact {
    text-decoration: none;
    color: black;
}

.header_right-linkedIn {
    text-decoration: none;
    color: black;
}


/* PRESENTATION AND MAIN SLIDE: */

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

.presentation-title {
    font-family: 'Akrobat';
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 33vh;
    font-family: 'Akrobat';
    position: absolute;
}

@media only screen and (max-width: 1366px) {
    .presentation-title {
        margin-top: 29.5vh;
    }
}

.presentation-btn {
    position: absolute;
    width: 130px;
    height: 45px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 42vh;
    font-family: 'Akrobat';
}


/* 
.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: absolute;
}

.layer1 {
    background-image: url("./wave-haikei.svg");
} */

.spacer2 {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    position: fixed;
}

.layer2 {
    background-image: url("./mountain-peak-night-dusk.jpg");
    background-size: cover;
    transform: scale(1.2);
}

.black_layer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}

.portfolio {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 165, 165, 0.03);
}

.crowdfunding {
    background-image: url(./image-hero-mobile.jpg);
    height: 45vh;
    width: 25%;
    transition: all 400ms;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
}

.crowdfunding:hover {
    background-color: rgba(129, 129, 129, 0.3);
    height: 45vh;
    cursor: pointer;
    opacity: 0.6;
}

.crowdfunding-title {
    margin-left: auto;
    margin-right: auto;
}

.crowdfunding-text {
    align-self: flex-start;
    text-align: center;
    font-family: 'Akrobat';
    font-weight: 100;
    font-size: 28px;
    margin-top: 30px;
    opacity: 0;
}

.crowdfunding-bg {
    position: absolute;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.03);
}

.pokeApi {
    background-image: url(./api_rest.png);
    background-size: cover;
    /* background-position-x: 1200px;
    background-position-y: 800px; */
    height: 45vh;
    width: 25%;
    transition: all 400ms;
    text-decoration: none;
    color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    padding-top: 20px;
}

.pokeApi:hover {
    background-color: rgba(129, 129, 129, 0.3);
    height: 45vh;
    cursor: pointer;
    opacity: 0.6;
}

.pokeApi-title {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Akrobat';
    font-weight: 100;
}


/* .pokeApi-text {
    align-self: flex-start;
    text-align: center;
    font-family: 'Akrobat';
    font-weight: 100;
    font-size: 25px;
    margin-top: 30px;
    opacity: 0;
} */

.pokeApi-bg {
    position: absolute;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.03);
}

.propertyManager {
    height: 45vh;
    width: 25%;
    transition: all 400ms;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.propertyManager:hover {
    background-color: rgba(129, 129, 129, 0.3);
    height: 45vh;
    cursor: pointer;
    opacity: 0.6;
}

.propertyManager-title {
    margin-left: auto;
    margin-right: auto;
}

.propertyManager-text {
    align-self: flex-start;
    text-align: center;
    font-family: 'Akrobat';
    font-weight: 100;
    font-size: 25px;
    margin-top: 30px;
    opacity: 0;
    width: 100%;
}

.propertyManager-bg {
    position: absolute;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.03);
}

.socialdashboard {
    background-image: url(./social.png);
    height: 45vh;
    width: 25%;
    transition: all 400ms;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
}

.socialdashboard:hover {
    height: 45vh;
    cursor: pointer;
    opacity: 0.6;
}

.socialdashboard-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.socialdashboard-text {
    align-self: flex-start;
    text-align: center;
    font-family: 'Akrobat';
    font-weight: 100;
    font-size: 28px;
    margin-top: 30px;
    opacity: 0;
}

.socialdashboard-bg {
    position: absolute;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.03);
}


/* RESPONSIVE DESIGN (MOBILE)*/

@media(max-width: 414px) {
    .header {
        color: white;
        width: 100%;
        height: 60px;
        opacity: 0.52;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Akrobat';
        opacity: 1;
    }
    .header_left {
        width: auto;
        margin-left: 5%;
        margin-top: -15px;
    }
    .header_left-name {
        position: absolute;
        letter-spacing: 2px;
        margin-left: 5px;
        top: 27px;
        display: none;
    }
    .header_left-hidden {
        display: none;
        left: 55px;
        top: -35px;
        width: 130px;
        height: 14px;
        position: relative;
        background-color: rgba(255, 255, 255);
    }
    .header_left-logoImg {
        margin-top: 80px;
        filter: invert();
        width: 90px;
        /* transform: rotate(45deg); */
        /* To get it white: */
        /* filter: brightness(0) invert(1); */
    }
    .header_left-logoChar {
        font-family: 'Akrobat';
        font-weight: 800;
        position: absolute;
        /* transform: rotate(-45deg); */
        font-size: 25px;
        margin-top: 110px;
        left: 40px;
    }
    .header_right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 340%;
        margin-top: 180px;
        margin-right: 40px;
        /* border: 1px solid black; */
        font-size: 20px;
    }
    .header_right a {
        /* margin-right: auto; */
        color: white;
        margin-left: auto;
        width: 90px;
        height: 50px;
        display: flex;
        align-items: center;
        transition: all 200ms;
        justify-content: center;
    }
    .header_right a:hover {
        color: white;
        font-size: 35px;
    }
    .header_right-github {
        text-decoration: none;
        color: black;
        font-size: 35px;
    }
    .header_right-contact {
        text-decoration: none;
        color: black;
        font-size: 35px;
    }
    .header_right-linkedIn {
        text-decoration: none;
        color: black;
        font-size: 35px;
    }
    /* PRESENTATION AND MAIN SLIDE: */
    .main {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: url("./mountain-peak-night-dusk.jpg"); */
        margin-top: 500px;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
        color: white;
    }
    .presentation-title {
        font-family: 'Akrobat';
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: -320px;
        font-family: 'Akrobat';
        position: absolute;
    }
    /* 
    @media only screen and (max-width: 1366px) {
        .presentation-title {
            margin-top: 29.5vh;
        }
    } */
    .presentation-btn {
        position: absolute;
        width: 130px;
        height: 45px;
        background: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: -60px;
        font-family: 'Akrobat';
    }
    .spacer2 {
        aspect-ratio: 960/540;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -2;
        position: fixed;
        display: none;
    }
    .layer2 {
        background-image: url("./mountain-peak-night-dusk-min.jpg");
        background-size: cover;
        transform: scale(1.2);
    }
    .black_layer {
        aspect-ratio: auto;
        width: 100%;
        height: 100vh;
        background-image: url("./mountain-peak-night-dusk-min.jpg");
        background-position: bottom;
        background-size: auto;
        z-index: -999;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        /* overflow-x: hidden; */
    }
    .portfolio {
        width: 100%;
        height: 45vh;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(165, 165, 165, 0.03);
    }
    .crowdfunding {
        background-image: url(./image-hero-mobile.jpg);
        height: 45vh;
        width: 25%;
        transition: all 400ms;
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0;
        flex-basis: 100%;
        opacity: 0.8;
    }
    .crowdfunding:hover {
        background-color: rgba(129, 129, 129, 0.3);
        height: 45vh;
        cursor: pointer;
        opacity: 0.6;
    }
    .crowdfunding-title {
        margin-left: auto;
        margin-right: auto;
    }
    .crowdfunding-text {
        align-self: flex-start;
        text-align: center;
        font-family: 'Akrobat';
        font-weight: 100;
        font-size: 28px;
        margin-top: 30px;
        opacity: 0.8;
    }
    .crowdfunding-bg {
        position: absolute;
        width: 100%;
        background-color: rgba(165, 165, 165, 0.03);
    }
    .pokeApi {
        background-image: url(./api_rest.png);
        background-size: cover;
        height: 45vh;
        width: 25%;
        transition: all 400ms;
        text-decoration: none;
        color: white;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0;
        padding-top: 20px;
        opacity: 0.8;
        flex-basis: 100%;
    }
    .pokeApi:hover {
        background-color: rgba(129, 129, 129, 0.3);
        height: 45vh;
        cursor: pointer;
        opacity: 0.6;
    }
    .pokeApi-title {
        margin-left: auto;
        margin-right: auto;
        font-family: 'Akrobat';
        font-weight: 100;
    }
    .pokeApi-bg {
        position: absolute;
        width: 100%;
        background-color: rgba(165, 165, 165, 0.03);
    }
    .propertyManager {
        height: 45vh;
        width: 25%;
        transition: all 400ms;
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.8;
        flex-basis: 100%;
    }
    .propertyManager:hover {
        background-color: rgba(129, 129, 129, 0.3);
        height: 45vh;
        cursor: pointer;
        opacity: 0.8;
    }
    .propertyManager-title {
        margin-left: auto;
        margin-right: auto;
    }
    .propertyManager-text {
        align-self: flex-start;
        text-align: center;
        font-family: 'Akrobat';
        font-weight: 100;
        font-size: 25px;
        margin-top: 30px;
        opacity: 0.8;
        width: 100%;
    }
    .propertyManager-bg {
        position: absolute;
        width: 100%;
        background-color: rgba(165, 165, 165, 0.03);
    }
    .socialdashboard {
        background-image: url(./social.png);
        height: 45vh;
        width: 25%;
        transition: all 400ms;
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.8;
        flex-basis: 100%;
    }
    .socialdashboard:hover {
        height: 45vh;
        cursor: pointer;
        opacity: 0.8;
    }
    .socialdashboard-title {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    .socialdashboard-text {
        align-self: flex-start;
        text-align: center;
        font-family: 'Akrobat';
        font-weight: 100;
        font-size: 28px;
        margin-top: 30px;
        opacity: 0.8;
    }
    .socialdashboard-bg {
        position: absolute;
        width: 100%;
        background-color: rgba(165, 165, 165, 0.03);
    }
}