@font-face {
    font-family: Akrobat;
    src: url(./fonts/Akrobat/Commercial/TTF/Akrobat-ExtraBold.ttf)
}

@font-face {
    font-family: Futurist;
    src: url(./fonts/Forgotten_futurist/forgotten\ futurist\ bd.ttf)
}

* {
    margin: 0px;
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Akrobat';
}

.header_left {
    width: 200px;
    margin-left: 20%;
}

.header_left-name {
    position: absolute;
    letter-spacing: 2px;
    margin-left: 5px;
    top: 27px;
}

.header_left-hidden {
    left: 55px;
    top: -35px;
    width: 130px;
    height: 14px;
    position: relative;
    background-color: rgb(255, 196, 0);
}

.header_left-logoImg {
    margin-top: 24px;
    /* transform: rotate(45deg); */
}

.header_left-logoChar {
    font-family: 'Akrobat';
    font-weight: 800;
    position: absolute;
    /* transform: rotate(-45deg); */
    font-size: 40px;
    margin-top: 25px;
}

.header_right {
    display: flex;
    justify-content: space-around;
    width: 400px;
    border: 1px solid black;
    margin-right: 20%;
}


/* PRESENTATION AND MAIN SLIDE: */

.presentation {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    margin: auto;
    color: white;
}

.presentation-title {
    font-family: 'Futurist';
    margin: 20px auto 20px auto;
    font-size: 40px;
    text-align: center;
}

.presentation-paragraph {
    font-size: 20px;
    text-align: center;
    line-height: normal;
    font-family: 'Akrobat';
}

.presentation-btn {
    width: 130px;
    height: 45px;
    background: rgb(255, 196, 0);
    border: none;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 17px;
}

.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: absolute;
}

.layer1 {
    background-image: url("./blob-scene-haikei-3.svg");
}

.spacer2 {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 950px;
}

.layer2 {
    background-image: url("./layered-waves-haikei-4.svg");
}